<h1>Destroy</h1>
<%= @user.name%>
<%= @user.email%>
<%= @user.birthday%>
<%= link_to 'index', users_path%>
<%= link_to 'restore', "/create_fast?name=#{@user.name}&email=#{@user.email}&birthday=#{@user.birthday}"%>