<%= form_with(model: post, url: path) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= hidden_field_tag 'post[user_id]', user_id%>

  <div class="field">
    <%= form.label :msg %>
    <%= form.text_area :msg %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
